@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


@layer base {
  :root {
    --border-color: var(--border);
    --ring-color: var(--ring);
  }

  * {
    border-color: var(--border-color);
    outline-color: var(--ring-color);
  }

  body {
    background-color: var(--background);
    color: var(--foreground)
  }
}