@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


@layer base {
  :root {
    --border-color: var(--border);
    --ring-color: var(--ring);
  }

  * {
    border-color: var(--border-color);
    outline-color: var(--ring-color);
  }

  body {
    background-color: var(--background);
    color: var(--foreground)
  }
}

@keyframes float {
  0%, 100% {
    transform: translateY(0px) rotate(0deg);
    opacity: 0.3;
  }
  50% {
    transform: translateY(-20px) rotate(180deg);
    opacity: 0.6;
  }
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}


/* hover the news page images */
@media (hover: hover) {
  .hover\:scale-150:hover {
    transform: scale(1.5);
  }
}
